// Color
$primary-color: #ca0cab
$secondary-color: #626
$accent-color: #fafafa
$main-color: #ffffff
$some-color: #10102d

// Typography
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800)
$main-font: 'Poppins', sans-serif

// Font Size
$base-font-size: 16px

//Line Height
$line-height: 1.6

//Transition
$transition: all 0.3s ease-out 0s